In [4]:
import numpy as np

In [5]:
L=[1,2,3,5]
for i in L:
    for k in L:
        for j in L:
            for q in L:
                if (i!=k) and (k!=j) and (j!=q) and (q!=i) and(q!=k) and(j!=i):
                    print (i,k,j,q)

1 2 3 5
1 2 5 3
1 3 2 5
1 3 5 2
1 5 2 3
1 5 3 2
2 1 3 5
2 1 5 3
2 3 1 5
2 3 5 1
2 5 1 3
2 5 3 1
3 1 2 5
3 1 5 2
3 2 1 5
3 2 5 1
3 5 1 2
3 5 2 1
5 1 2 3
5 1 3 2
5 2 1 3
5 2 3 1
5 3 1 2
5 3 2 1

In [19]:
list1=[]
for i in range(20):
    if i==0 or i==1:
        list1.append(1)
    else:
        list1.append(list1[-2]+list1[-1])
print (list1)
print(np.sum(list1))

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765]
17710

In [15]:
list2=[]
i=2
for i in range (2,201):
    a= i% 10
    b= (i//10)%10
    c= i//100
    d=a+b+c
    j=2
    for j in range(2,i):
        if(i%j==0):
            break
        elif (d % 2)!=0:
            break
    else:
        list2.append(i)
print(list2)

[2, 11, 13, 17, 19, 31, 37, 53, 59, 71, 73, 79, 97, 101, 103, 107, 109, 127, 149, 163, 167, 181]

In [22]:
from pandas import Series,DataFrame
import pandas as pd
data = {'EnglishName':Series(['Lu','Zhong','Teng','Zhu','Liu','Yang','Xu']),
       'birthday':Series(["19980101","19980102","19980103","19980104","19980105","19980106","19980107",]),
       'sex':Series(["M","M","M","F","F","F","F"])}
df = DataFrame(data)
print(df)

  EnglishName  birthday sex
0          Lu  19980101   M
1       Zhong  19980102   M
2        Teng  19980103   M
3         Zhu  19980104   F
4         Liu  19980105   F
5        Yang  19980106   F
6          Xu  19980107   F